@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IStringLocalizer<lang> lang


    <!doctype html>
    <html lang="en">
    <head>
        <title>Lotus Kitap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        <link href="~/website-menu-13/css/animate.css" rel="stylesheet" />
        <link href="~/website-menu-13/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/website-menu-13/css/style.css" rel="stylesheet" />

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar ftco_navbar bg-light ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img-responsive2" src="~/Navbar/lotus.png"
                         asp-area="" asp-controller="Home" asp-action="Index" style=" width: 65px;"><small style="color:black"><b>Lotus Kitap</b></small>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@lang["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ListCategories" asp-action="ListCategory">@lang["Category"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ListBooks" asp-action="ListBook">@lang["Book"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor">@lang["Author"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@lang["Languages"]</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" asp-route-culture="tr-TR">@lang["Turkish"]</a>
                                <a class="dropdown-item" asp-route-culture="en-US">@lang["English"]</a>
                            </div>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">@lang["Categories"]</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Books" asp-action="Index">@lang["Books"]</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Publishers" asp-action="Index">@lang["Publishers"]</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Authors" asp-action="Index">@lang["Authors"]</a>
                                </div>
                            </li>
                        }

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <div class="header__top__right__auth">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@lang["Welcome"], @User.Identity.Name!</a>
                                </div>
                                <div class="header__top__right__auth">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn text-dark">@lang["Logout"]</button>
                                    </form>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <div class="header__top__right__auth">
                                    <a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user"></i><i> </i>@lang["Register"]<i>  </i> </a>
                                    </div>
                                <div class="header__top__right__auth">
                                    <a asp-area="Identity" asp-page="/Account/Login"><i>  </i><i class="fa fa-sign-in"></i><i> </i>@lang["Login"]</a>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <footer class="footer text-muted">
            <div class="container">
                &copy; 2021 - Lotus Kitap - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script src="~/website-menu-13/js/main.js"></script>
        <script src="~/website-menu-13/js/bootstrap.min.js"></script>
        <script src="~/website-menu-13/js/popper.js"></script>
        <script src="~/website-menu-13/js/jquery.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>





@*<!doctype html>
<html lang="en">
<head>
    <title>Lotus Kitap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/website-menu-13/css/animate.css" rel="stylesheet" />
    <link href="~/website-menu-13/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/website-menu-13/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar ftco_navbar bg-light ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="img-responsive2" src="~/Navbar/lotus.png"
                     asp-area="" asp-controller="Home" asp-action="Index" style=" width: 65px;"><small style="color:black"><b>Lotus Kitap</b></small>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@lang["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ListCategories" asp-action="ListCategory">@lang["Category"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Publishers" asp-action="Index">@lang["Publisher"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ListBooks" asp-action="ListBook">@lang["Book"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">@lang["Author"]</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@lang["Languages"]</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <li><a asp-route-culture="tr-TR">@lang["Turkish"]</a></li>
                    <li><a asp-route-culture="en-US">@lang["English"]</a></li>
            </div>
        </div>
        </div>
        </li>
        <li>
            @if (User.IsInRole("Admin"))
            {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">@lang["Categories"]</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Books" asp-action="Index">@lang["Books"]</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Authors" asp-action="Index">@lang["Authors"]</a></li>
            <li> <a class="dropdown-item" asp-area="Admin" asp-controller="Publishers" asp-action="Index">@lang["Publishers"]</a></li>

            </div>
            </li>
        }
            </li>
            <li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="header__top__right__auth">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@lang["Welcome"], @User.Identity.Name!</a>
                    </div>
                    <div class="header__top__right__auth">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn text-dark">@lang["Logout"]</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="header__top__right__auth">
                        <a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user"></i><i> </i>@lang["Register"]<i>  </i> </a>
                    </div>
                    <div class="header__top__right__auth">
                        <a asp-area="Identity" asp-page="/Account/Login"><i>  </i><i class="fa fa-sign-in"></i><i> </i>@lang["Login"]</a>
                    </div>
                }

            </li>
            </div>
            </div>
        </nav>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <footer class="footer text-muted">
            <div class="container">
                &copy; 2021 - Lotus Kitap - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script src="~/website-menu-13/js/main.js"></script>
        <script src="~/website-menu-13/js/bootstrap.min.js"></script>
        <script src="~/website-menu-13/js/popper.js"></script>
        <script src="~/website-menu-13/js/jquery.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>*@


