@model IEnumerable<WebBookProject.Models.Author>

@{
    ViewData["Title"] = "Yazar";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

}

<p>
    <a class="btn btn-primary" style="color:white" asp-area="Admin" asp-controller="Authors" asp-action="Create">Yazar Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Yazar Adı
            </th>
            <th>
                Yazar Soyadı
            </th>
            <th>
                Biyografi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorLastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Biography)
                </td>
                <td>
                    <a class="btn btn-success" style="color:white" asp-action="Edit" asp-route-id="@item.AuthorId">Düzenle</a>
                </td>
                <td>
                    <a class="btn btn-dark" style="color:white" asp-action="Details" asp-route-id="@item.AuthorId">Detaylar</a>
                </td>
                <td>
                    <a class="btn btn-danger" style="color:white" asp-action="Delete" asp-route-id="@item.AuthorId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
