@model IEnumerable<KitapProjesi.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publishYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                Güncelle
            </th>
            <th>
                Detaylar
            </th>
            <th>
                Sil
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publishYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.PublisherId)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ISBN">Düzenle</a> |
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.ISBN">Detaylar</a> |
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ISBN">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Kitap Ekle</a>
</p>
