@using WebBookProject.Models
@model  IEnumerable<WebBookProject.Models.Book>
@{
    Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <title>Kitaplar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="~/table-06/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/table-06/css/style.css" rel="stylesheet" />

</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr>
                                    <th><b>Kitap</b></th>
                                    <th><b>Yazar</b></th>
                                    <th><b>Yayınevi</b></th>
                                    <th><b>Basım Yılı</b></th>
                                    <th><b>Kategori</b></th>
                                    <th><b> Açıklama</b></th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {

                                    <tr class="alert" role="alert">
                                        <td>
                                            <div>
                                                <img style=" width:120px; height:180px;" class="card-img-top" src="@("~/Photos/" +item.ImageUrl)" asp-append-version="true" />
                                            </div>
                                        </td>
                                        <td>@item.Author.AuthorName<i> </i>@item.Author.AuthorLastname</td>

                                        <td>@item.Publisher.PublisherName</td>
                                        <td>
                                            @item.publishYear
                                        </td>
                                        <td>
                                            @item.Category.CategoryName
                                        </td>
                                        <td>
                                            <div class="email">
                                                <span>@item.Description</span>
                                            </div>
                                        </td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/table-06/js/bootstrap.min.js"></script>
    <script src="~/table-06/js/jquery.min.js"></script>
    <script src="~/table-06/js/main.js"></script>
    <script src="~/table-06/js/popper.js"></script>
</body>
</html>
